
<script src="https://sdk.amazonaws.com/js/aws-sdk-2.884.0.min.js"></script>
<script src="~/js/AwsUpload.js"></script>
<script>
       function getHtml(template) {
          return template.join('\n');
       }
       listAlbums();
</script>

<body>
    <h1>My Photo Albums App</h1>
    <div id="app"></div>
</body>